:root {
<<<<<<< HEAD
    --light-color: #fff;
    --dark-color: #000000;
=======
    --white: #fff;
    --black: #000;
>>>>>>> 867c836a56ab54b5b553ca3dcb2359ed88665baa
}

body {
    font-family: Arial, sans-serif;
<<<<<<< HEAD
    background-color: var(--light-color);
    color: var(--dark-color);
=======
    color: var(--black);
>>>>>>> 867c836a56ab54b5b553ca3dcb2359ed88665baa
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
}

body,
html {
    height: 100%;
    margin: 0;
}

header {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 20px 0;
    padding-left: 10vw;
    padding-right: 10vw;
=======
    max-width: 800px;
    margin: 0 auto;
>>>>>>> 867c836a56ab54b5b553ca3dcb2359ed88665baa
}

.container {
    padding: 20px;
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: var(--light-color);
    background-color: var(--dark-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.15s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}

#header-title {
    font-size: 3vh;
    margin: 5px;
=======
}

.text {
    margin: 12px;
}

.center {
    text-align: center;
}

#title {
    margin: 8px;
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 12px;
>>>>>>> 867c836a56ab54b5b553ca3dcb2359ed88665baa
}

@media (min-width: 800px) {
    .section1,
    .section2 {
        width: 100%;
        max-width: 800px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
}

.top-bar {
    width: 100%;
    padding: 10px 0;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #f5f1f1;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #333;
}
