:root {
    --white: #ffffff;
    --black: #000000;
    --light-grey: #e0e0e0;
    --button-hover: #2a2a2a;
}

body {
    font-family: "Arial", sans-serif;
    color: var(--text-grey);
    background-color: var(--white);
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-left {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#title {
    font-size: 24px;
    margin: 0;
}

.tagline {
    font-size: 16px;
    color: var(--text-grey);
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--black);
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-bottom: 20px;
}

.sign-in {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--black);
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.button-link:hover {
    background-color: var(--button-hover);
}

main {
    background-color: var(--white);
    padding: 0 20px;
}

#features {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 20vh;
    background-color: var(--white);
    position: relative;
}

.feature-container {
    height: 1.5rem;
    position: relative;
}

.no {
    font-size: 2rem;
    margin-right: 5px;
}

.no p {
    line-height: 0;
}

li {
    list-style-type: disc;
}

.no-list {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: top 0.5s ease-in-out;
    will-change: top;
    width: 200px;
    font-size: 1rem;
}

.no-list.show {
    animation: dropIn 0.5s ease-in-out forwards;
}

.no-list.hide {
    animation: dropOut 0.5s ease-in-out forwards;
}

#features p {
    padding-left: 10px;
}

#actions {
    text-align: left;
    margin-top: 30px;
}

.benefits-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

@keyframes dropIn {
    from {
        top: -50%;
        color: rgba(0, 0, 0, 0);
    }
    to {
        top: 0;
        color: #000000;
    }
}

@keyframes dropOut {
    from {
        top: 0;
        color: #000000;
    }
    to {
        top: 50%;
        color: #00000000;
    }
}
