body {
    background-color: #ffffff;
    font-family: Helvetica, sans-serif;
    margin: none;
    height: 100%;
}

html {
    margin: 0;
}

#center-items {
    display: flex;
    justify-content: center;
    text-align: center;
}

.titles {
    font-weight: 600;
    font-size: 16px;
    margin: 16px 0px;
}

#item-container {
    max-width: 550px;
    height: auto;
    width: 100%;
}

#main-container {
    padding: 0px 12px;
}

#ward-title {
    margin-top: 8px;
}

.info-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
}

.info-container-stretch {
    margin-right: auto;
    text-align: left;
}

#announcements-separator {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #333;
    margin: 20px 0;
}

.info-container,
.info-container-stretch,
.hymn-titles {
    margin-top: 8px;
    margin-bottom: 8px;
}

#leader-names {
    text-align: left;
}

.leader-people {
    margin-bottom: 8px;
    font-size: 16px;
}
